@use '../../variables/colors';
@use '../../variables/rc';

.pk-container {
  position: relative;

  .pk-bg {
    display: block;
    width: 21rem;
  }

  .pokemon {
    position: absolute;
    inset: 0;

    & > * {
      position: absolute;
    }

    .pk-num {
      top: 3.5rem;
      left: 2rem;
      font-size: 1.5rem;
      background-color: colors.$colors-num;
      clip-path: rc.$rc;
      padding: 0 0.5rem;
    }

    .pk-type-one {
      top: 2.25rem;
      left: 10rem;
      font-size: 1rem;
      width: max-content;
      padding: 0 0.5rem;
      clip-path: rc.$rc;
      transition: transform 0.25s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .pk-type-two {
      top: 4.25rem;
      left: 8rem;
      font-size: 1rem;
      width: max-content;
      padding: 0 0.5rem;
      clip-path: rc.$rc;
      transition: transform 0.25s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .pk-name-wide {
      top: 6.5rem;
      left: 3.5rem;
      font-size: 1.3rem;
    }

    .pk-name-narrow {
      top: 6.5rem;
      left: 3.5rem;
      font-size: 1.4rem;
    }

    .pk-more {
      top: 9.35rem;
      left: 2.25rem;
      font-size: 1.15rem;
      width: max-content;
      padding: 0 0.5rem;
      background-color: #0c255d;
      color: white;
      clip-path: rc.$rc;
      transition: transform 0.25s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .pk-img-narrow {
      height: 100%;
      max-height: 5.75rem;
      top: 5.5rem;
      left: 12.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    .pk-img-wide {
      height: 100%;
      max-height: 5.75rem;
      top: 5.5rem;
      left: 11.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 9999; // above everything

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-panel {
      width: 100vw;
      height: 100vh;
      background: url(../../assets/card-bg.png) no-repeat center / cover;
      position: relative;

      .pk-m-name {
        position: absolute;
        top: 13rem;
        left: 5rem;
        font-size: 3.5rem;
      }

      .pk-m-num {
        position: absolute;
        top: 9rem;
        left: 11rem;
        font-size: 2.5rem;
        background-color: colors.$colors-num;
        clip-path: rc.$rc;
        padding: 0 0.5rem;
      }
      .pk-m-img {
        position: absolute;
        top: 24rem;
        left: 9.5rem;
        height: 100%;
        max-height: 18rem;
      }

      //

      .pk-m-type {
        position: absolute;
        top: 3.5rem;
        left: 33rem;
        font-size: 2.25rem;
        width: max-content;
        padding: 0 1rem;
      }

      .pk-m-type-one {
        position: absolute;
        top: 7.25rem;
        left: 35rem;
        font-size: 2.25rem;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;
        transition: transform 0.25s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      .pk-m-type-two {
        position: absolute;
        top: 7.25rem;
        left: 45.5rem;
        font-size: 2.25rem;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;
        transition: transform 0.25s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      //

      .pk-m-abilities {
        position: absolute;
        top: 11rem;
        left: 33rem;
        font-size: 2.25rem;
        width: max-content;
        padding: 0 1rem;
      }

      .pk-m-ability-one {
        position: absolute;
        top: 14.5rem;
        left: 30rem;
        font-size: 2.25rem;
        background-color: rgba($color: #000000, $alpha: 0.3);
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;
      }

      .pk-m-ability-two {
        position: absolute;
        top: 14.5rem;
        left: 44rem;
        font-size: 2.25rem;
        background-color: rgba($color: #000000, $alpha: 0.3);
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;
      }

      //

      .pk-m-body-m {
        position: absolute;
        top: 18rem;
        left: 33rem;
        font-size: 2.25rem;
        width: max-content;
        padding: 0 1rem;
      }

      .pk-m-height {
        position: absolute;
        top: 21.75rem;
        left: 32rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-all;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;
      }

      .pk-m-weight {
        position: absolute;
        top: 21.75rem;
        left: 45rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-all;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;
      }

      .pk-m-base-exp {
        position: absolute;
        top: 25.5rem;
        left: 36rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-all;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;
      }

      //

      .pk-m-cry {
        position: absolute;
        top: 22rem;
        left: 62rem;
        font-size: 2.25rem;
        width: max-content;
        padding: 0 1rem;
      }

      .pk-m-cry-one {
        position: absolute;
        top: 26rem;
        left: 62rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-all;
        padding: 0.3rem 0.3rem 0.1rem 0.4rem;
        clip-path: rc.$rc;
      }

      .pk-m-cry-two {
        position: absolute;
        top: 26rem;
        left: 68rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-all;
        padding: 0.3rem 0.3rem 0.1rem 0.4rem;
        clip-path: rc.$rc;
      }

      //

      .pk-m-stats {
        position: absolute;
        top: 29rem;
        left: 33rem;
        font-size: 2.25rem;
        width: max-content;
        padding: 0 1rem;
      }

      .pk-m-hp {
        position: absolute;
        top: 32.5rem;
        left: 35rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-hp;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;

        span {
          margin-right: 2rem;
        }
      }

      .pk-m-attack {
        position: absolute;
        top: 32.5rem;
        left: 46rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-attack;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;

        span {
          margin-right: 2rem;
        }
      }

      .pk-m-defense {
        position: absolute;
        top: 32.5rem;
        left: 62.5rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-defence;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;

        span {
          margin-right: 2rem;
        }
      }

      .pk-m-special-attack {
        position: absolute;
        top: 36rem;
        left: 35rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-s-attack;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;

        span {
          margin-right: 2rem;
        }
      }

      .pk-m-special-defense {
        position: absolute;
        top: 36rem;
        left: 54.5rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-s-defence;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;

        span {
          margin-right: 2rem;
        }
      }

      .pk-m-speed {
        position: absolute;
        top: 39.5rem;
        left: 50.4rem;
        font-size: 2.25rem;
        background-color: colors.$colors-modal-speed;
        width: max-content;
        padding: 0 1rem;
        clip-path: rc.$rc;

        span {
          margin-right: 1.1rem;
        }
      }

      .m-close {
        position: absolute;
        top: 5rem;
        left: 73rem;
        font-size: 3rem;
        background-color: red;
        clip-path: rc.$rc;
        padding: 0 0.5rem;
      }
    }
  }
}

.type-normal {
  background-color: colors.$colors-normal;
  color: black;
}
.type-fighting {
  background-color: colors.$colors-fighting;
  color: black;
}
.type-flying {
  background-color: colors.$colors-flying;
  color: black;
}
.type-poison {
  background-color: colors.$colors-poison;
  color: black;
}
.type-ground {
  background-color: colors.$colors-ground;
  color: black;
}
.type-rock {
  background-color: colors.$colors-rock;
  color: black;
}
.type-bug {
  background-color: colors.$colors-bug;
  color: black;
}
.type-ghost {
  background-color: colors.$colors-ghost;
  color: black;
}
.type-steel {
  background-color: colors.$colors-steel;
  color: black;
}
.type-fire {
  background-color: colors.$colors-fire;
  color: black;
}
.type-water {
  background-color: colors.$colors-water;
  color: black;
}
.type-grass {
  background-color: colors.$colors-grass;
  color: black;
}
.type-electric {
  background-color: colors.$colors-electric;
  color: black;
}
.type-psychic {
  background-color: colors.$colors-psychic;
  color: black;
}
.type-ice {
  background-color: colors.$colors-ice;
  color: black;
}
.type-dragon {
  background-color: colors.$colors-dragon;
  color: black;
}
.type-dark {
  background-color: colors.$colors-dark;
  color: black;
}
.type-fairy {
  background-color: colors.$colors-fairy;
  color: black;
}
.type-unknown {
  background-color: colors.$colors-unknown;
  color: black;
}
.type-stellar {
  background-color: colors.$colors-stellar;
  color: black;
}
.type-shadow {
  background-color: colors.$colors-shadow;
  color: black;
}
