$colors-bg: #79caf9;
$colors-num: #f8c633;
$colors-modal-all: rgba(
  $color: #000000,
  $alpha: 0.25,
);
$colors-modal-hp: rgba(
  $color: #dd092f,
  $alpha: 0.3,
);
$colors-modal-attack: rgba(
  $color: #f77f00,
  $alpha: 0.3,
);
$colors-modal-defence: rgba(
  $color: #1d4ed8,
  $alpha: 0.3,
);
$colors-modal-s-attack: rgba(
  $color: #7c3aed,
  $alpha: 0.3,
);
$colors-modal-s-defence: rgba(
  $color: #14b8a6,
  $alpha: 0.3,
);
$colors-modal-speed: rgba(
  $color: #facc15,
  $alpha: 0.3,
);
$colors-modal-close: rgba(
  $color: #ff0000,
  $alpha: 0.7,
);

$colors-normal: #a4a4a4;
$colors-fighting: #cf8354;
$colors-flying: #8295c9;
$colors-poison: #aa8fc1;
$colors-ground: #947944;
$colors-rock: #b09154;
$colors-bug: #77ae3d;
$colors-ghost: #b089be;
$colors-steel: #779aac;
$colors-fire: #d67f7a;
$colors-water: #599dd4;
$colors-grass: #53a93a;
$colors-electric: #bfa546;
$colors-psychic: #cc7bad;
$colors-ice: #72acc2;
$colors-dragon: #50a495;
$colors-dark: #b388b9;
$colors-fairy: #dab0d4;
$colors-unknown: #a8d2a2;

$colors-stellar: #ffd700;
$colors-shadow: #999999;
