$colors-bg: #79caf9;
$colors-num: #f8c633;

$colors-normal: #a4a4a4;
$colors-fighting: #cf8354;
$colors-flying: #8295c9;
$colors-poison: #aa8fc1;
$colors-ground: #947944;
$colors-rock: #b09154;
$colors-bug: #77ae3d;
$colors-ghost: #b089be;
$colors-steel: #779aac;
$colors-fire: #d67f7a;
$colors-water: #599dd4;
$colors-grass: #53a93a;
$colors-electric: #bfa546;
$colors-psychic: #cc7bad;
$colors-ice: #72acc2;
$colors-dragon: #50a495;
$colors-dark: #b388b9;
$colors-fairy: #dab0d4;
$colors-unknown: #a8d2a2;

$colors-stellar: #ffd700;
$colors-shadow: #999999;
