@use '../../variables/colors';

.container {
  background-color: colors.$colors-bg;
  width: 100vw;
  min-height: 100vh;

  .headerContainer {
    display: flex;
    flex-direction: column;
    height: auto;

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    header {
      position: relative;

      .headerCloud {
        width: 100vw;
      }

      .logoImg {
        width: 415px;
        position: absolute;
        top: 16px;
        left: calc((100vw - 415px) / 2);
        transition: transform 0.25s ease;

        &:hover {
          cursor: pointer;
          transform: scale(1.02);
        }
      }
    }

    nav {
      position: relative;
      width: 310px;
      margin: auto;
      margin-top: 2rem;

      .searchBg {
        position: absolute;
        width: 240px;
      }

      input {
        position: absolute;
        color: black;
        outline: none;
        top: 54.5px;
        left: 32px;
        font-size: 1.5rem;
        max-width: 176px;
        background-color: transparent;

        &::placeholder {
          color: black;
        }
      }

      .btn {
        position: absolute;
        width: 56px;
        height: 56px;
        top: 20px;
        left: 256px;

        .btnBg {
          position: absolute;
          width: 56px;
          transition: transform 0.25s ease;
        }

        .btnImg {
          position: absolute;
          width: 32px;
          top: 12px;
          left: 12px;
          transition: transform 0.25s ease;
        }

        &:hover {
          cursor: pointer;

          .btnImg {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: max-content;
    margin: 0 auto;
    margin-top: 10rem;
    min-height: 95px;

    .notFound {
      display: flex;

      p {
        width: 144px;
      }

      img {
        width: 96px;
        height: 96px;
        margin-left: 22rem;
      }
    }

    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 780px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 1560px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 1000px) {
  .container .headerContainer header .logoImg {
    width: 350px;
    left: calc((100vw - 350px) / 2);
  }
}

@media (max-width: 780px) {
  .container .headerContainer header .logoImg {
    width: 280px;
    left: calc((100vw - 280px) / 2);
  }
}

@media (max-width: 600px) {
  .container .headerContainer header .logoImg {
    width: 230px;
    left: calc((100vw - 230px) / 2);
  }
}

@media (max-width: 440px) {
  .container .headerContainer header .logoImg {
    width: 40vw;
    left: 29.5vw;
  }
}
